* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Georgia, "Times New Roman", serif;
}

body {
  background-color: #fab22e;
}
.container {
  width: 80vmin;
  padding: 50px 40px;
  background-color: #0c0d14;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}

span {
  display: block;
  text-align: center;
  font-size: 40px;
}

p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 30px;
  margin: 30px 0;
}

button {
  display: block;
  background-color: #fab22e;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  color: rgb(61, 46, 46);
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
}

footer {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-80%, -80%);
  color: rgb(61, 46, 46);
}
